.login-wrapper{
    background: url(/assets/img/bg.jpg) no-repeat 100% center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .login-plan{
      width: 500px;
      margin: 200px auto;
      .login-header{
        text-align: center;
        line-height: 60px;
        font-size: 20px;
        font-weight: bold;
      }
      .login-form-forgot {
        float: right;
      }
      .login-form-button {
        width: 100%;
      }
    }
}
